%script{:src => "/scripts/calendar.js", :type => "text/javascript"}
%script{:src => "/scripts/linkedselect.js", :type => "text/javascript"}
:css
  div.right_col {
  background-color: #e0eaea;
  max-height: 40000px;
  min-width: 640px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 15%;
  margin-right: 15%;
  }
.right_col
  %form{:name => "paint", :id =>'paint', :method => "POST", :enctype => "Multipart/Form-Data;"}
    %table{:width => "100%", :align => "center", :border => 0}
      %tr
        %td
          Year:
        %td
          %input{:type => 'text', :id => 'year', :name => 'year', :value => "#{Time.now.year}"}
      %tr
        %td
          Orobiton:
        %td
          %select{:name => "orobiton", :id => "orobiton"}
            -locals[:orob].each_with_index do |zzz, i|
              %option{:value => "#{i}"} #{zzz[2]}: year.#{zzz[0]} to year.#{zzz[1]}
      %tr
        %td
          Station:
        %td
          %select{:name => "station", :id => "station"}
            -zerg = %w{--ALL-- desp desp-uz s1-elisovo ifpet s3-okean s4-esso s5-altai s6-chieti s7-okean s8-imfset s9-imfset s10-tula s12-imfset-fiji s13-imfset-sakhalin}
            -zerg.each do |zzz|
              %option{} #{zzz}
      %tr
        %td
          Channel:
        %td
          %select{:name => "channel", :id => "channel"}
      %tr{:align => 'center'}
        %td{:colspan => 2}
          %input{:type => "submit", :value => "Paint"}
%script{:type => 'text/javascript'}
  var syncList1 = new syncList;
  syncList1.dataList = {
  -l2 = ''
  -locals[:stations].each do |s1|
    -str = "\n"
    -locals[:channels][s1.to_sym][-1] = '--ALL--'
    -locals[:channels][s1.to_sym].sort.each {|k, v| str += "'#{k}':'#{v}', \n"}
    -l2 += "'#{s1.to_sym}':{#{str}},\n"
  #{l2[0..-3]}
  }
  syncList1.sync("station", "channel");